################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/trilha-net-banco-de-dados-desafio/FileContentIndex/e914eefa-bd6b-45d0-a380-c6b0281f744d.vsidx
